<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <hr>
    <form action="/auth/github" method="POST" >
      <div class="form-actions">
        <button class="btn btn-block btn-primary" type="submit">
          <i class="fa fa-github"> Login with github</i>
        </button>
      </div>
    </form>
  </div>
</div>